

body {
    background-color: #FFFEF2;
  }

  .grid-container {
    display: grid;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
  }
  
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: lavender;
    text-align: center;
    padding: 20px;
    font-size: 30px;

  }
  
  .item1 {
    grid-column: 1 / span 3 ;
    grid-row: 1;
    font-size: smaller;
    background-color: #880000;
    padding-top: 0px;
    padding-bottom: 10px;
    align-items: center;
  }
  
  .item2 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 50;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    margin: auto;
    margin-top: 5px;
    font-size: smaller;
  }

  .form-group{
    font-size: medium;
  }


  .buttons{
    margin-top: 30%;
  }

  form{
    padding-top: 50px;
  }

.checkbox{
    margin-bottom: 18%;
}

 







  
