/* .home a{
    background-color: #ffffff;
    text-decoration: none;
    font-size: medium;
    border: 3px solid black;
    color: black;
    width: 25px;
    text-align: center;
    margin: 0 2em;
    padding: .5em 2em;

 } */

 .listTable{
  position: relative;
  left: 460px;
 }


 .signOut a{
    background-color: #ffffff;
    text-decoration: none;
    font-size: medium;
    border: 3px solid black;
    color: black;
    width: 25px;
    text-align: center;
    margin: 0 2em;
    padding: .5em 2em;
 }




 /* .signedIn label{
    background-color: #ffffff;
    text-decoration: none;
    font-size: medium;
    border: 3px solid black;
    color: black;
    width: 25px;
    text-align: center;
    margin: 0 2em;
    padding: .5em 2em;
 } */



 .griditem1{
  background-color: #060758;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 75px;
  display: flex;
  justify-content: space-between;
  height: 75px;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-top: 0px;
  position:absolute;
  border:none;


 }

 .title{
    font-family: Karla,sans-serif;
    font-weight: 300;
    font-style: normal;
    color: White;
    position: relative;
    left: -10px
 }

 .searchbar{
  position: relative;
  left: 275px
 }

 .searchbarManageAccounts{
  position: relative;
  left: 475px
 }

 

 /* .addNew{
  background-color: #ffffff;
  text-decoration: none;
  font-size: medium;
  border: 2px solid black;
  color: black;
  width: 25px;
  text-align: center;
  margin: 0 2em;
  padding: .5em 2em;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  right: 30px;
 } */

 .edit {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: grey;
}

 .bin {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: grey;
}

.bin:hover {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: rgb(255, 0, 0);
}

.arrowback{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: grey;
}

.arrowback:hover{
  color: lightgrey;
}

.button {
  font-family: Karla,sans-serif;
  font-weight: 300;
  font-style: normal;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  position: relative;
  left: 500px;
  height: 20px;
  top: -3px
}

 /* ------------------------------------------------------ */

 .grid-container {
  display: grid;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  position:absolute;
  top: 120px;
  bottom: 60px;
  left: 30px;
  right: 30px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border: solid 2px black;
  }
  
  .item1 {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: space-between;
    background-color: #060758;
  }

  .item1 label{
    border: none;
    padding: .25em .25em;
  }
  
  .item2 {
    grid-column: 1 / span 6;
    grid-row: 2 / span 1;
    border: none;
  }

  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    /* search icon */
    background-color: white;
    background-size: 15px;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
  }
  
  .item3 {
    grid-column: 1 / span 6;
    grid-row: 3 / span 40;
    font-size: large;
    padding: 0px;

  }
  
  .item4 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 40;
   }
  
  .item5 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 40;
  }
  
  .item6 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 40;
  }
  
  .item7 {
    grid-column: 5 / span 1;
    grid-row: 3 / span 40;
  }
  
  .item8 {
    grid-column: 6 / span 1;
    grid-row: 3 / span 40;
  }